[submodule "Engine/Libraries/stb"]
	path = Engine/Libraries/stb
	url = https://github.com/nothings/stb
[submodule "Engine/Libraries/glm"]
	path = Engine/Libraries/glm
	url = https://github.com/g-truc/glm
[submodule "Engine/Libraries/ImGui"]
	path = Engine/Libraries/ImGui
	url = https://github.com/ocornut/imgui
[submodule "Engine/Libraries/tracy"]
	path = Engine/Libraries/tracy
	url = https://github.com/wolfpld/tracy
[submodule "Engine/Libraries/json"]
	path = Engine/Libraries/json
	url = https://github.com/nlohmann/json
[submodule "Engine/Libraries/rapidjson"]
	path = Engine/Libraries/rapidjson
	url = https://github.com/Tencent/rapidjson
