[submodule "Engine/Libraries/stb"]
	path = Engine/Libraries/stb
	url = https://github.com/nothings/stb
[submodule "Engine/Libraries/rapidjson"]
	path = Engine/Libraries/rapidjson
	url = https://github.com/Tencent/rapidjson
[submodule "Engine/Libraries/ImGui"]
	path = Engine/Libraries/ImGui
	url = https://github.com/heintjepeintje/ImGui
[submodule "Engine/Libraries/tracy"]
	path = Engine/Libraries/tracy
	url = https://github.com/heintjepeintje/tracy
